{% extends 'layout.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
{% endblock %}

{% block body %}

    <div style="    
        position: fixed;
        bottom: 0px;
        right: 0;
        background-color: red;
        margin: 15px;
        width: 250px;
        z-index: 9999;
        font-size: 16px;
        box-shadow: 0px 0px 10px #888888;
        border-radius: none;
        padding: 13px;">
        <p style="color: white; margin: 0 auto; width: 250px;">
            <a href="{{url._url}}" style="color: white">
                {{ url._title }}
            </a>
        </p>
    </div>

    {{ text }}
{% endblock %}
