{% extends 'layout.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
{% endblock %}

{% block body %}

    <div style="    
        position: fixed;
        bottom: 0px;
        right: 0;
        background-color: red;
        margin: 5px;
        width: 250px;
        padding: 13px;">
        <p style="color: white; margin: 0 auto; width: 250px;">
            {{ url._title }}
            <br/>
            <a href="{{url._url}}" style="color: gold">CLIQUE AQUI</a>
        </p>
    </div>

    {{ text }}
{% endblock %}
