:host {
  font-family: Roboto,Helvetica Neue,sans-serif;
}

:host .cta-std-button {
  position: fixed !important;
  bottom: 0px !important;
  right: 0px !important;
  margin: 25px !important;
  /*z-index: 2147483647 !important;*/
  z-index: 100000 !important;
  border-radius: 0 !important;
}

:host .contact-cta-section {
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  -moz-osx-font-smoothing: grayscale !important;
  /* padding: 75px 0 10px 0 !important; */
  float: left !important;
  text-align: center !important;
  width: 100% !important;
  min-width: 360px;
}
:host .clearfix {
  clear: both !important;
}
:host .wrapper-full {
  position: relative !important;
  max-width: 1050px !important;
  width: 100%;
  margin: 0 auto !important;
}
:host .cta-wrapper {
  margin-bottom: 0 !important;
  text-align: left !important;
  padding: 26px !important;
  background-color: #800080 !important;
  border-radius: 2px !important;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
:host .cta-wrapper .details-wrapper {
  float: left !important;
  width: 60% !important;
  max-width: 500px;
  /*padding-right: 20px;*/
}
:host .cta-wrapper .details-wrapper h2 {
  font-weight: 600 !important;
  margin: 0 0 4px 0 !important;
  color: #FFF !important;
  font-size: 18px !important;
  line-height: normal !important;
  min-width: 80px;
  padding-right: 20px !important;
}
:host .cta-wrapper .details-wrapper p {
  font-size: 15px !important;
  color: #FFF !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  min-width: 80px;
  padding-right: 20px !important;
}
:host .cta-wrapper .blue-cta-button {
  /* width: 30%; */
  border-radius: 2px !important;
  transition: all 0.2s ease-in-out !important;
  text-decoration: none !important;
  font-weight: 600 !important;
  float: right !important;
  margin: 0 !important;
  color: #800080 !important;
  background-color: #FFF !important;
  padding: 17px 12px !important;
  text-align: center !important;
  margin-top: 5px !important;
  font-size: 14px !important;
  min-width: 80px;
  max-width: 200px;
  overflow: hidden;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}


@media screen and (max-width:830px) {
  :host .cta-wrapper .details-wrapper {
    width: 100% !important;
  }
  :host .cta-wrapper .blue-cta-button {
    width: 100% !important;
  }

  :host .cta-std-button {
    left: unset !important;
    right: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  :host .cta-std-button {
    margin: 0 !important;
  }
  :host .cta-wrapper {
    padding: 20px !important;
  }
  :host .cta-wrapper .details-wrapper h2 {
    font-size: 15px !important;
  }
  :host .cta-wrapper .details-wrapper p {
    font-size: 14px !important;
  }
  :host .cta-wrapper .blue-cta-button {
    padding: 12px 11px !important;
  }
}
