<div class="cta-std-button">
  <section class="contact-cta-section">
    <div class="wrapper-full">
      <div class="cta-wrapper">
        <div class="details-wrapper">
          <h2>{{ cta.name || 'Enter a name here' }}</h2>
          <p>{{ cta.message || 'Enter your message here' }}</p>
        </div>
        <a class="blue-cta-button" href="{{ cta.buttonUrl }}" target="_blank">{{ cta.buttonText || 'CLICK HERE' }}</a>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
</div>
