<div class="cta-std-button" *ngIf="cta">
  <section class="contact-cta-section">
    <div class="wrapper-full">
      <div class="cta-wrapper">
        <div class="details-wrapper">
          <h2>{{ cta.name || 'Escolha um título para sua chamada' }}</h2>
          <p>{{ cta.message || 'Mensagem' }}</p>
        </div>
        <a class="blue-cta-button" href="{{ linkService.linkenizer(cta.buttonUrl) }}" target="_top">{{ cta.buttonText || 'Texto do botão' }}</a>
        <div class="clearfix"></div>
      </div>
    </div>
  </section>
</div>
