<div class="stretch">

  <div class="overlay"></div>
  <div id="background-preview" class="container-fluid stretch no-padding lower-z" style="">
    <div id="generic-site-preview" style="background-color: #FFF;">
      <div class="row">
        <div class="col-sm-12">
          <div class="row other-light-grey pad-top-bottom">
            <div class="col-xs-5 col-md-2">
              <div class="row">
                <div class="col-xs-2">
                  <div class="os-circle red"></div>
                </div>
                <div class="col-xs-2">
                  <div class="os-circle yellow"></div>
                </div>
                <div class="col-xs-2">
                  <div class="os-circle green"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="lr-padding">
        <div class="row extra-top-mg">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-12">
                <div class="col-xs-12 light-grey" style="height:60px;">
                  <div class="dark-grey header-circle" style="float: left"></div>
                  <div class="col-xs-2" style="float:right; margin-top: 20px">
                    <div class="rounded-corners dark-grey" style="height:20px;"></div>
                  </div>
                  <div class="col-xs-2" style="float:right; margin-top: 20px">
                    <div class="rounded-corners dark-grey" style="height:20px;"></div>
                  </div>
                  <div class="col-xs-2" style="float:right; margin-top: 20px">
                    <div class="rounded-corners dark-grey" style="height:20px;"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row extra-top-mg">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-xs-12">
                <div class="other-light-grey" style="height:270px;"><br><br><br><br>
                  <div class="col-xs-4 col-xs-offset-4">
                    <div class="rounded-corners dark-grey" style="height:35px;"></div>
                  </div><br><br><br>
                  <div class="col-xs-6 col-xs-offset-3">
                    <div class="rounded-corners light-grey" style="height:15px;"></div>
                  </div><br>
                  <div class="col-xs-6 col-xs-offset-3">
                    <div class="rounded-corners light-grey" style="height:15px;"></div>
                  </div><br>
                  <div class="col-xs-6 col-xs-offset-3">
                    <div class="rounded-corners light-grey" style="height:15px;"></div>
                  </div><br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="light-grey" style="height:150px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-8">
                <div class="rounded-corners dark-grey" style="height:35px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners other-light-grey" style="height:20px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners other-light-grey" style="height:20px;"></div>
              </div>
            </div>
            <hr class="dark-grey">
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="light-grey" style="height:150px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-8">
                <div class="rounded-corners dark-grey" style="height:35px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners other-light-grey" style="height:20px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners other-light-grey" style="height:20px;"></div>
              </div>
            </div>
            <hr class="dark-grey">
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="light-grey" style="height:150px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-8">
                <div class="rounded-corners dark-grey" style="height:35px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners other-light-grey" style="height:20px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners other-light-grey" style="height:20px;"></div>
              </div>
            </div>
            <hr class="dark-grey">
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="light-grey" style="height:150px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-8">
                <div class="rounded-corners dark-grey" style="height:35px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners other-light-grey" style="height:20px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners other-light-grey" style="height:20px;"></div>
              </div>
            </div>
            <hr class="dark-grey">
          </div>
          <div class="col-xs-8">
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="light-grey" style="height:300px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners dark-grey" style="height:20px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners light-grey" style="height:20px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners light-grey" style="height:20px;"></div>
              </div>
            </div>
            <hr class="dark-grey">
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="light-grey" style="height:300px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners dark-grey" style="height:20px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners light-grey" style="height:20px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners light-grey" style="height:20px;"></div>
              </div>
            </div>
            <hr class="dark-grey">
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="light-grey" style="height:300px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners dark-grey" style="height:20px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners light-grey" style="height:20px;"></div>
              </div>
            </div>
            <div class="row extra-top-mg">
              <div class="col-sm-12">
                <div class="rounded-corners light-grey" style="height:20px;"></div>
              </div>
            </div>
            <hr class="dark-grey">
          </div>
        </div>
      </div>
    </div>
    <div id="specific-site-preview" class="hidden stretch">
      <iframe src="" frameborder="0" class="stretch" sandbox="allow-scripts allow-popups allow-pointer-lock allow-same-origin"></iframe>
    </div>
  </div>

</div>
