
<form id="urlform" (submit)="shortUrl()">
    <h5 style="margin: 10px; color: gray;">it's simple, first enter a...</h5>

    <input type="url" name="url" id="mUrl" [(ngModel)]="link.url"
           required placeholder="URL to short">

    <br/>

    <h5 style="margin: 10px; color: gray;">then give it a...</h5>

    <input type="text" name="title" id="mTitle" [(ngModel)]="link.title"
           required placeholder="nice attention grabbing header!">

    <input type="text" name="description" id="mDescription" [(ngModel)]="link.description"
           required placeholder="descriptive sentence for the CTA">

    <input type="text" name="ctaHeader" id="mCtaHeader" [(ngModel)]="link.ctaHeader"
           required placeholder="CTA button header">

    <input type="url" name="ctaUrl" id="mCtaUrl" required [(ngModel)]="link.ctaUrl"
           placeholder="Call To Action URL">

    <br/>
    <button name="shortit" type="submit">...short it!</button>

    <br/>
    <div style="margin: 35px 0;">
        <a id="urlhash" style="word-wrap: break-word; white-space: pre;">&nbsp;</a>
    </div>
</form>


