<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true">


    <mat-vertical-stepper linear="false" #formStepper="matVerticalStepper">
      <mat-step [stepControl]="linkFormGroup">
        <form [formGroup]="linkFormGroup" class="create-link-form">
          <ng-template matStepLabel>Choose a page to create a link</ng-template>

          <small>You can display your call-to-action on any web page. This is usually an article that you'd like to share with your audience.</small>
          <mat-form-field>
            <input matInput placeholder="Page URL" formControlName="pageUrl" (change)="onPageUrlChange()">
            <mat-hint>Enter a link to an article</mat-hint>
          </mat-form-field>
          <br>
          <div>
            <button mat-raised-button color="primary" class="continue-btn" matStepperNext>
              CONTINUE
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="brandFormGroup">
        <form [formGroup]="brandFormGroup" class="create-link-form">
          <ng-template matStepLabel>Setup your brand</ng-template>

          <small>Your brand will appear on all your jeit.in links. This should be your photo or company logo.</small>
          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
            <mat-hint>A nice attention grabbing header!</mat-hint>
          </mat-form-field>
          <br>
          <button mat-raised-button color="primary" class="continue-btn" matStepperNext>
            CONTINUE
          </button>
        </form>
      </mat-step>
      <mat-step [stepControl]="ctaFormGroup">
        <form [formGroup]="ctaFormGroup" class="create-link-form" (submit)="onCtaFormGroupSubmit()">
          <ng-template matStepLabel>Setup your CTA</ng-template>

          <small>Every jeit.in link contains a call-to-action. This should include a short message and a button linking to your landing page.</small>
          <mat-form-field>
            <input matInput placeholder="Message" formControlName="message">
            <mat-hint>A descriptive sentence for the Call To Action (CTA)</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Button Text" formControlName="buttonText">
            <mat-hint>What will your button say?</mat-hint>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput placeholder="Button URL" formControlName="buttonUrl">
            <mat-hint>Where will your button go?</mat-hint>
          </mat-form-field>
          <br>
          <div>
            <button mat-raised-button color="primary" class="continue-btn">
              CONTINUE
              <mat-progress-spinner mode="indeterminate" color="accent" diameter="20" *ngIf="isLoading"></mat-progress-spinner>
            </button>
            <h5>
              {{ submitError }}
            </h5>
          </div>

        </form>
      </mat-step>
      <mat-step>
        <div class="create-link-form">
          <ng-template matStepLabel>Share your link!</ng-template>

          <small>Anyone clicking on this link will see the page with your message inside.</small>

          <mat-form-field>
            <input matInput [(ngModel)]="shortPageUrl" readonly (click)="onShortUrlClick($event)" autofocus>
          </mat-form-field>

          <div *ngIf="!shortPageUrl">

            <!--<a mat-raised-button color="primary" class="visit-btn" [href]="shortPageUrl" target="_blank">-->
              <!--VISIT LINK-->
              <!--<mat-icon>open_in_new</mat-icon>-->
            <!--</a>-->

            <share-button [button]="'copy'" [showText]="true" [size]="4" [url]="shortPageUrl"></share-button>

            <share-buttons class="share-btns" [include]="['facebook','twitter','whatsapp','email','linkedin','pinterest','telegram','google']"
                           [show]="8" [size]="4" [url]="shortPageUrl"></share-buttons>

          </div>

        </div>

      </mat-step>
    </mat-vertical-stepper>

  </mat-sidenav>
  <mat-sidenav-content>

    <div class="link-preview hidden-on-mobile">
      <iframe class="overlay" *ngIf="pageUrl" [src]="pageUrl" scrolling="no" frameborder="0" sandbox="allow-scripts allow-same-origin"
              style="overflow: hidden;"></iframe>

      <sd-preview></sd-preview>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

