:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 350px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}


.link-generator {
  box-shadow: 5px 5px 10px -8px #d8cdcd;
  max-width: 400px;
  margin-right: 15px;
  margin-left: -15px;
}

.continue-btn {
  margin-top: 30px;
}

.link-preview > iframe {
  top: 0;
  height: 100vh;
  width: 100%;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

@media (max-width: 820px) {
  .flex-grid {
    display: block;
  }
}

.create-link-form {
  min-width: 300px;
  max-width: 400px;
  width: 100%;
}
.create-link-form > mat-form-field {
  width: 100%;
  margin-top: 15px;
}
