<sd-toolbar></sd-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true" disableClose="true">

    <mat-vertical-stepper [linear]="true" #formStepper>
      <mat-step #chooseLinkStep [completed]="(chooseLinkForm$ | async).isValid">
        <ng-template matStepLabel>Choose a page to create a link</ng-template>
        <small>You can display your call-to-action on any web page. This is usually an
          article that you'd like to share with your audience.</small>
        <sd-steps-choose-link [formState]="chooseLinkForm$ | async"></sd-steps-choose-link>
      </mat-step>
      <mat-step #setupBrandStep [completed]="(setupBrandForm$ | async).isValid">
        <ng-template matStepLabel>Setup your brand</ng-template>
        <small>Your brand will appear on all your jeit.in links. This should be your photo or company logo.</small>
        <sd-steps-setup-brand [formState]="setupBrandForm$ | async"></sd-steps-setup-brand>
      </mat-step>
      <mat-step #setupCtaStep [completed]="(setupCtaForm$ | async).isValid" editable="false">
        <ng-template matStepLabel>Setup your CTA</ng-template>
        <small>Every jeit.in link contains a call-to-action. This should include a short
          message and a button linking to your landing page.</small>
        <sd-steps-setup-cta [formState]="setupCtaForm$ | async" [errorMessage]="errorMessage$ | async"></sd-steps-setup-cta>
      </mat-step>
      <mat-step #shareLinkStep >
        <ng-template matStepLabel>Share your link!</ng-template>
        <small>Anyone clicking on this link will see the page with your message inside.</small>
        <sd-steps-share-link [shortPageUrl]="(shortPageUrl$ | async)"></sd-steps-share-link>
      </mat-step>

    </mat-vertical-stepper>

  </mat-sidenav>
  <mat-sidenav-content>

    <div class="link-preview hidden-on-mobile">
      <sd-link-preview-url [pageUrl]="(chooseLinkForm$ | async).value.pageUrl" *ngIf="(chooseLinkForm$ | async).isSubmitted"></sd-link-preview-url>
      <sd-link-preview-background></sd-link-preview-background>
    </div>


  </mat-sidenav-content>
</mat-sidenav-container>

<sd-cta-std-button [cta]="cta$ | async"></sd-cta-std-button>
