:host {
  display: block;
  padding: 0;
}

:host mat-sidenav {
  width: 375px;
}
@media (max-width: 765px) {
  :host mat-sidenav {
    width: 100%;
  }
}
:host .example-container {
  /* height: 94vh; */
  /*max-height: 800px;*/
}

:host .flex-grid {
  display: flex;
}
:host .col {
  flex: 1;
  overflow: hidden;
}

@media (max-width: 820px) {
  :host .flex-grid {
    display: block;
  }
}
@media(max-width: 900px) {
  :host .hidden-on-mobile {
    /*display: none;*/
  }
}

:host .link-generator {
  max-width: 400px;
  margin-right: 10px;
  margin-left: -5px;
}

:host .visit-btn {
  margin-bottom: 50px;
}

:host ::ng-deep .continue-btn {
  margin-top: 40px;
  /*width: 100%;*/
}
:host ::ng-deep .continue-btn mat-progress-spinner {
  display: inline-block;
}

:host .link-preview {
  top: 0;
  width: 100% !important;
  height: calc(100vh - 55px) !important;
  overflow: visible!important;
  border: none!important;
  position: relative;
}

:host ::ng-deep .create-link-form {
  min-width: 300px;
  max-width: 400px;
  width: 100%;
}
:host ::ng-deep .create-link-form > mat-form-field {
  margin-top: 18px;
  width: 100%;
  font-size: 17px;
}

:host ::ng-deep .input-spinner {
  float: right;
  margin-top: -20px;
}

:host ::ng-deep .sb-material-dark .sb-wrapper.sb-copy {
  background-color: #800080;
}
