:host {
  background-color: #80027f;
  color: rgba(255, 255, 255, 0.87);
  border: 0 solid #e1e1e1;
  border-bottom-width: 1px;
  display: block;
  height: 48px;
  padding: 0 16px;
}

nav a {
  color: rgba(255, 255, 255, 0.87);
  font-size: 14px;
  font-weight: 500;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: #80027f;
  color: rgba(249, 249, 249, 0.87);
}


a.link-brand {
  font-weight: bold !important;
  font-size: 21px !important;
}

a.link-right {
  float: right !important;
}
